@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

:root {
  --primaryLight: #f2f2f2;
  --primaryDark: #222222;
  --primaryAccent: #dc143c;
  --secondaryDark: #5a5a5a;
  --primaryFont: 'Roboto', sans-serif;
  --secondaryFont: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23f2f2f2' fill-opacity='1' d='M0,128L80,138.7C160,149,320,171,480,160C640,149,800,107,960,96C1120,85,1280,107,1360,117.3L1440,128L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z'%3E%3C/path%3E%3C/svg%3E");
}

.fp {
  font-family: var(--primaryFont);
}

.fs {
  font-family: var(--secondaryFont);
}


.pt-2 {
  padding: 2vh 0 0 0;
}

.pt-1 {
  padding: 1vh 0 0 0;
}

.mr-1 {
  margin: 0 1vh 0 0;
}

.mr-2 {
  margin: 0 2vh 0 0;
}

.mt-20 {
  margin: 20vh 0 0 0;
}

.myRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myRow_ {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.myCol_ {
  display: flex;
  flex-direction: column;
}

.imgHead {
  height: 100px;
  width: 100px;
}

.signedInUser {
  display: flex;
}

.importBtn {
  cursor: pointer;
}

.importBtn:hover {
  color: #dc143c;
}

.messageUnsigned {
  font-size: 24px;
  font-weight: bolder;
  color: var(--primaryAccent);
}

@media screen and (max-width: 800px) {
  .messageUnsigned {
    font-size: 30px;
  }

  .imgSignIn {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 75%;
  }
}

