.article .title {
    color: var(--primaryAccent);
}

.article .trailer {
    justify-content: center;
}

.article .subtitle {
    justify-content: center;
}

.article .center {
    text-align: center;
}

.imageHead {
    width: 50px;
    height: 50px;
    clip-path: circle(40%);
    vertical-align: middle;
}